header {
	height: 100px;
	background-color: var(--black-42);
	font-weight: bold;
	/* Layout Inside */
	display: flex;
	justify-content: center;
	align-items: center;
}

ul {
	display: flex;
	gap: 40px;
	justify-content: center;
	align-items: center;
}

a.menu-link {
	color: white;
	padding: 10px;
}

a.menu-link:hover {
	background-color: black;
}

@media (max-width: 600px) {
	header {
		height: auto;
		padding: 20px 10px;
	}

	header ul {
		gap: 10px;
		flex-wrap: wrap;
	}

	a.menu-link {
		padding: 8px;
	}
}
