@import url("./reset.css");
@import url("./def.css");
@import url("./header.css");
@import url("./hero-section.css");

html {
	font-size: 20px;
	font-family: "Google Sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	background-color: var(--white-42);
	gap: 40px;
}

body section {
	flex: 1;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

@media (max-width: 600px) {
	html {
		font-size: 16px;
	}
}
