@import url(./reset.css);

/* Init styles */
* {
	font-family: sans-serif;
}

/* Container styles */

body {
	background-color: #15616d;
}


/* Specific styles*/
header {
	height: 300px;
	background-color: #230c0f;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

h1 {
	font-size: 30px;
	color: white;
}

.volatile {
	color: white;
}