@import url(./reset.css);

/* Init styles */
html {
	font-family: "Roboto", sans-serif;
}

a {
	color: #FAFAFA;
	text-decoration: none;
}

/* Containers */
#main-container {
	/* Layout */
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.contact > ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact > ul > li {
	display: flex;
	align-items: center;
	gap: 10px;
}

header {
	height: 300px;
	background-color: #171717;
	/* Layout */
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

header > h1 {
	font-size: 25px;
	color: #FAFAFA;
}

.hero {
	background-color: #FAFAFA;
	/* Layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px;
}

.ads {
	height: 500px;
	background-color: #1fc2c3;
}

footer {
	height: 300px;
	background-color: #171717;
}

/* Others */
.card {
	height: 600px;
	border: 5px solid #e5e5e5;
	/* Layout */
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 30px;
}

.card > .img-container {
	border: 4px solid red;
	flex: 1;
	max-width: 50%;
	display: flex;
}

.card > .explanation {
	padding: 30px;
	background-color: #f4f4f5;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.explanation > h1 {
	font-size: 30px;
	color: #171717;
	font-weight: bold;
}

.explanation > p {
	line-height: 1.5;
}

.volatile {
	color: white;
}

img {
	max-width: 100%;
}