@import url(./reset.css);

/* Init styles */
html {
	font-family: "Open Sans", sans-serif, system-ui;
}

a {
	color: #FAFAFA;
	text-decoration: none;
	font-weight: bold;
}

/* Containers */
#main-container {
	background-color: #FAFAFA;
	/* Layout inside*/
	display: flex;
	flex-direction: column;
}

header {
	height: 300px;
	background-color: #171717;
	/* Layout inside */
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.hero {
	background-color: #FAFAFA;
	padding: 30px;
	/* Layout inside */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px;
}

.card {
	/* Layout inside */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}

/* Header Elements */

header > h1 {
	font-size: 25px;
	color: #FAFAFA;
}

.contact > ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.contact > ul > li {
	display: flex;
	align-items: center;
	gap: 10px;
}

/* Hero Elements */
.card > .img-container {
	min-width: 300px;
	max-width: 600px;
	flex: 1;
	display: flex;
}

.card > .explanation {
	min-width: 300px;
	max-width: 900px;
	flex: 1;
	padding: 30px;
}

.explanation > h1 {
	text-align: center;
	margin: 20px;
	font-size: 30px;
	color: #171717;
	font-weight: bold;
}

.explanation > p {
	line-height: 1.5;
}

/* Ads */

.ads {
	height: 500px;
	background-color: #1fc2c3;
}

footer {
	height: 300px;
	background-color: #171717;
}

/* Others */


.volatile {
	color: white;
}

img {
	max-width: 100%;
}